th {
  text-align: left;
  padding-right: 1em;
  white-space: nowrap;
}
td {
  padding-right: 1em;
  white-space: nowrap;
}

.icon {
  text-decoration: none
}

.ralign {
  text-align: right;
}

table {
  border-collapse: collapse;
}

tfoot {
  border-top: 1px solid #CCC;
}

tbody td:last-child {
  padding-bottom: 0.2em;
}

tbody th:last-child {
  padding-bottom: 0.2em;
}

tfoot td {
  padding-top: 0.2em;
}

.disconnected {
  background-color: #F5D76E;
}

/* Not a fan... */
th.rotate {
  height: 160px; /* ugh */
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(10px, 61px) /* ugh */
    rotate(315deg);
  width: 20px;
}
